/*
$outer_navbar_c:   #de2d00;
$inner_navbar_c:   #e63a07;
$background_c:     #ff7119;
$light_c:          #ffab19;

// elements colours
$outernav_element_colour:    $outer_navbar_c;
$innerpane_element_colour:   $outer_navbar_c;
$innernav_element_colour:    $inner_navbar_c;

$element_hover:   $light_c;
$element_pressed:#fff013;
*/
.button {
  -fx-background-color: #061E47;
  -fx-text-fill: #e7e5e5;
}

.button:hover {
  -fx-background-color: #2B6AD0;
}

.button:pressed {
  -fx-background-color: #68A4F1;
}

.label {
  -fx-text-fill: #e7e5e5;
}

.check-box {
  -fx-background-color: none;
  -fx-text-fill: #e7e5e5;
}

.combo-box {
  -fx-background-color: #061E47;
}

.combo-box:hover, .combo-box .arrow-button:hover {
  -fx-background-color: #2B6AD0;
}

.combo-box:pressed, .combo-box .arrow-button:pressed {
  -fx-background-color: #68A4F1;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell, .combo-box .list-cell {
  -fx-background-color: #061E47;
  -fx-text-fill: #e7e5e5;
}

.combo-box .combo-box-popup .list-cell:hover {
  -fx-text-fill: #ffd700;
  -fx-background-color: #2B6AD0;
}

.combo-box .arrow {
  -fx-background-color: #1F4591;
}

.combo-box .arrow-button {
  -fx-background-color: #061E47;
}

.text-field, .text-input {
  -fx-background-color: none;
  -fx-text-fill: #e7e5e5;
  -fx-border-color: #e7e5e5;
  -fx-border-width: 0 0 1 0;
}

.check-box .box {
  -fx-background-color: #68A4F1;
}

.check-box:selected .mark {
  -fx-background-color: #e7e5e5;
}

.check-box:selected .box {
  -fx-background-color: #68A4F1;
}

.radio-button {
  -fx-text-fill: #e7e5e5;
}

.radio-button .radio {
  -fx-background-color: #061E47;
  -fx-background-image: null;
}

.radio-button .dot {
  -fx-mark-highlight-color: #68A4F1;
  -fx-mark-color: #68A4F1;
}

.separator {
  -fx-border-style: solid;
  -fx-border-width: 0;
  /*-fx-padding: 0 -50 0 0;*/
}

.separator *.line {
  -fx-border-color: #000000;
}

.date-picker {
  -fx-background-color: #061E47;
}

.Container {
  -fx-border-radius: 1em;
  -fx-border-width: 2px;
  -fx-padding: 0.5em;
  -fx-border-color: #e7e5e5;
}

.Dashboard {
  -fx-background-color: #041430;
}

.toggle-button {
  -fx-background-color: none;
  -fx-background-image: url("../images/icons8-show-password-25.png");
}

.toggle-button:selected {
  -fx-background-image: url("../images/icons8-hide-25.png");
}

.scroll-bar:horizontal, .scroll-bar:vertical {
  -fx-background-color: #041430;
}

.increment-button, .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: #041430;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #1F4591;
  -fx-background-radius: 5em;
}

.scroll-pane > .corner {
  -fx-background-color: #041430;
}

.progress-bar {
  -fx-background-color: #1F4591;
}

.green-bar {
  -fx-accent: green;
}

.yellow-bar {
  -fx-accent: yellow;
}

.orange-bar {
  -fx-accent: orange;
}

.red-bar {
  -fx-accent: red;
}

.darkred-bar {
  -fx-accent: darkred;
}

/* List view styling */
.list-view {
  -fx-background-color: #061E47;
}

.list-view .list-cell:hover {
  -fx-background-color: #2B6AD0;
}

.list-view .list-cell {
  -fx-background-color: #0b235e;
  -fx-text-fill: #e7e5e5;
}

.list-view .label {
  -fx-text-fill: #e7e5e5;
}

.list-view .list-cell:even {
  -fx-background-color: #061E47;
}

.list-view .list-cell:even:hover {
  -fx-background-color: #2B6AD0;
}

.list-view .list-cell:filled:focused:selected {
  -fx-background-color: #000000;
}

/* Tab pane styling */
.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane .tab {
  -fx-background-color: #0b235e;
}

.tab-pane .tab:selected {
  -fx-background-color: #2B6AD0;
}

.tab .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #e7e5e5;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}

.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #ffffff;
}

.Overview {
  -fx-background-color: #1F4591;
}

.Overview .SearchBar {
  -fx-background-color: #1F4591;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-border-radius: 2em;
}

.OuterMenuBar {
  -fx-background-color: #061E47;
}

.OuterMenuBar .button {
  -fx-background-color: #061E47;
}

.OuterMenuBar .button:hover {
  -fx-background-color: #2B6AD0;
}

.OuterMenuBar .button:pressed {
  -fx-background-color: #68A4F1;
}

.InnerMenuBar {
  -fx-background-color: #0b235e;
}

.InnerMenuBar .button {
  -fx-background-color: #0b235e;
}

.InnerMenuBar .button:hover {
  -fx-background-color: #2B6AD0;
}

.InnerMenuBar .button:pressed {
  -fx-background-color: #68A4F1;
}

.Content {
  -fx-background-color: #1F4591;
}

.Content .button {
  -fx-background-color: #061E47;
}

.Content .button:hover {
  -fx-background-color: #2B6AD0;
}

.Content .button:pressed {
  -fx-background-color: #68A4F1;
}

.Container {
  -fx-border-radius: 1em;
  -fx-border-width: 2px;
  -fx-padding: 0.5em;
  -fx-border-color: white;
}

.WarningAlert {
  -fx-text-fill: #daa520;
  -fx-border-color: #daa520;
  -fx-border-width: 0 0 1 0;
}

.ErrorAlert {
  -fx-text-fill: #ff0000;
  -fx-border-color: #ff0000;
  -fx-border-width: 0 0 1 0;
}

.transparent-list {
  -fx-background-color: transparent;
}
